*{
    margin:0;
    padding:0;
}
body{

}
 ul li{
    list-style-type:none;
}
 .navbar{
     background:#3299cc;
 }
.main{
    width:100%;
    height:39em;
    background:lightblue;
}
.content{
    border:1px solid lightyellow;
    border-radius:2em;
    width:30em;
    height:32em;
    margin-top:5em;
    background:yellowgreen;
}
.content h1{
    width:10em;
    height:3em;
    text-align: center;
    margin-top:3em;
}
.content p a{
    margin-left:8em;
}
/*½Å²¿¿ªÊ¼*/
.footer{
    width:100%;
    height:4em;
    background:yellow;
}