*{
    margin:0;
    padding:0;
}
body{

}
ul li{
    list-style-type:none;
}
.navbar {
    background:#3299cc;
    color:black;
}
.content{
    width:80%;
    margin:0 auto;
    margin-top:5em;
}
.content label{
    margin-top:1em;
}
.content input{
    margin-top:1em;
}
.content textarea{
    margin-top:1em;
}
.content .button{
    width:100%;
    float:left;
    text-align:center;
    margin-top:3em;
}
.button button{
    background: #F7EED6;
}
