.web-style{
    background: #66ccff;
    color:#fff;
}

.content{
    width:1000px;
    margin:50px auto;
    padding:20px 0;
}
.content-left{
    width:724px;
    float:left;
    overflow: hidden;
}
.content-right{
    width:245px;
    float:right;
    overflow: hidden;
}

.search-condition{
    margin:20px 0;
}
.search-condition span{
    padding:0 10px;
}
.search-condition .active{
    background: #66ccff;
    padding:3px 7px;
    border-radius: 5px;
}
.search-condition .active a{
    color:#fff !important;
}


.strategy-list{
    overflow:hidden;
    border-bottom:1px dashed #ddd;
    padding-bottom:20px;
}
.strategy-list-sort{
    float:right;
    line-height:36px;
}
.strategy-list-sort a{
    padding:0 10px;
}

/*文章信息*/
.content-info{
    float:right;
}
.content-info li{
    float:left;
    padding:0 10px;
    color:#999;
}
.content-info li i{
    padding-right:5px;
}
/*作者信息*/
.authorInfo li{
    float:left;
    line-height: 32px;
}
.authorInfo .author-headImg img{
    width:32px;
    height:32px;
    border-radius:50%;
}