.web-style{
    background: #66ccff;
    color:#fff;
}
.content{
    width:1000px;
    margin:50px auto;
    padding:20px 0;
}
.content-left{
    width:724px;
    float:left;
    overflow: hidden;
}
.content-right{
    width:245px;
    float:right;
    overflow: hidden;
}


/*搜索框*/
.search-condition{
    margin:20px 0;
}
.search-condition span{
    padding:0 10px;
}
.search-condition .active{
    background: #66ccff;
    padding:3px 7px;
    border-radius: 5px;
}
.search-condition .active a{
    color:#fff !important;
}


.strategy-list{
    padding-bottom:20px;
}
/***********攻略列表头部****************/
.strategy-list-sort{
    float:right;
    line-height:36px;
}
.strategy-list-sort a{
    padding:0 10px;
}


/***************攻略列表文章modal***************/
#strategy-modal{
    display:none;
}
.strategy-list-item{
    border-bottom:1px dashed #ddd;
    overflow:hidden;
}
.content-info{
    float:right;
}
.content-info li{
    float:left;
    padding:0 10px;
    color:#999;
}
.content-info li i{
    padding-right:5px;
}

.authorInfo{
    overflow:hidden;
    padding:0 0 5px 0;
}
.authorInfo li{
    float:left;
    line-height: 32px;
}
.authorInfo .author-headImg img{
    width:32px;
    height:32px;
    border-radius:50%;
}

.content-body{
    clear:both;
    padding:10px;
}